section {
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    h3{
        font-family: 'Poppins';
    }

    .hyphen{
        margin-top: 1em;
        background-color: #1968b7;
        height: 2px;
        width: 90%;
        border-radius: 20px;
    }

    .projectWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 2rem;
        width: 100%;

        .projectBox {
            width: 100%;
            flex-direction: column;
            border: solid red 2px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;

            .projectImageContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1em;
                width: 90%;
                height: 200px;
                border-radius: 10px;
                overflow: hidden;
                .projectPicture{
                    width: 100%;
                }
            }
        }
    }
    .projectInfo{
        width: 100%;
    }
}