.headlineArea {
    margin: 1.5em;

}

section {
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    _flex-direction: column;
    gap: 2em;
    margin: 1.5em;
    margin-bottom: 3.5em;
    font-size: 10px;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;

    h3 {
        font-family: 'Poppins';
        font-size: 1.8em;
        min-width: 80%;

    }

    .projectWrapper {
        display: flex;
        scroll-snap-align: start;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap;
        gap: 2rem;
        min-width: 100%;

        h3 {
            font-family: 'Poppins';
            font-size: 2.3em;
        }

        p {
            font-size: 1.4em;
        }

        span {
            font-size: 1.5em;
            color: #d3d3d3;
        }

        .projectBox {
            padding: 1em;
            background: linear-gradient(to bottom, #1b1b1b 40%, #1968b754 100%);
            border-radius: 10px;
            width: 100%;
            flex-direction: column;
            _border: solid red 2px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;

            .projectImageContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1em;
                width: 90%;
                height: 200px;
                border-radius: 10px;
                overflow: hidden;

                .projectPicture {
                    width: 100%;
                }
            }
        }
    }

    .projectInfo {
        width: 100%;
        display: flex;
        gap: 2em;
        flex-direction: column;

        .ctaContainer {
            display: flex;
            width: 100%;
            gap: 1em;
            justify-content: space-between;

            .ctaButtons {
                border-radius: none;
                height: 2rem;
                width: 45%;
                border: none;
                color: rgb(255, 255, 255);
                font-family: 'Poppins';
                font-size: 1rem;
                background-color: #1968b7;
                border-radius: 5px;
            }

            .ctaButtonsDemo {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: none;
                height: 2rem;
                width: 45%;
                border: none;
                color: rgb(0, 0, 0);
                font-family: 'Poppins';
                font-size: 1rem;
                background-color: #ffffffe9;
                border-radius: 5px;
            }
        }
    }
}

.techIconsContainer {
    display: flex;
    align-items: center;
    gap: 1em;

    .techIcons {
        height: 35px;
    }


}