section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;

    .projectWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 2rem;
        width: 100%;

        .projectBox {
            width: 100%;
            flex-direction: column;
            border: solid red 2px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            .projectImage{
                margin: 1em;
                width: 90%;
                height: 200px;
                object-fit: cover;
                border: solid rgb(8, 0, 255) 2px;}
        }
    }
}