section {
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    margin-bottom: 4em;

    h3 {
        font-family: 'Poppins';
    }


    .projectWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 2rem;
        width: 100%;

        .projectBox {
            padding: 1em;
            background: linear-gradient(to bottom, #000000 0%, #1968b754 100%);
            border-radius: 20px;
            width: 100%;
            flex-direction: column;
            _border: solid red 2px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;

            .projectImageContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1em;
                width: 90%;
                height: 200px;
                border-radius: 10px;
                overflow: hidden;

                .projectPicture {
                    width: 100%;
                }
            }
        }
    }

    .projectInfo {
        width: 100%;
        display: flex;
        gap: 2em;
        flex-direction: column;

    }
}