<section>
  <h3>Kompetenz von Anfang bis Ende.</h3>
  <div class="hyphen"></div>
  <div class="aboutWrapper">
    <span>
    </span>
    <div class="smallContainerWrapper">
      <div class="smallContainer">
        <span>PLANUNG</span>
        <p>Klare Ziele, saubere Struktur, nachhaltiges Fundament.</p>
      </div>
      <div class="smallContainer">
        <span>Entwicklung</span>
        <p>Modern, performant und vollständig intern umgesetzt.</p>
      </div>
      <div class="smallContainer">
        <span>SUPPORT
        </span>
        <p>Zuverlässige Pflege, Sicherheit und Weiterentwicklung.</p>
      </div>
    </div>
  </div>
</section>