section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  flex-direction: column;
  margin: 1em;
  gap: 1em;

  h3 {
    width: 100%;
  }

  .aboutWrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    height: 80vh;
    background: linear-gradient(to left, #000000 0%, rgba(25, 104, 183, 0.3294117647) 50%);    border-radius: 20px;


    .smallContainerWrapper {
      flex-direction: column;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex: 1;
      .smallContainer {
        height: 20%;
        padding: 0.8em;
        background: linear-gradient(to left, #000000 0%, rgba(25, 104, 183, 0) 50%);
        border-radius: 10px;

        span {
          font-weight: 600;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }
}