<section id="aboutus">
  <h3>Kompetenz von Anfang bis Ende.</h3>
  <div class="hyphen"></div>
  <div class="aboutWrapper">
    <span>
    </span>
    <div class="smallContainerWrapper">
      <div class="smallContainer">
        <span>PLANUNG<img class="icons" src="assets\img\sections\icons\planDefault.png" alt="devIcon"></span>
        <p>Klare Ziele, saubere Struktur, nachhaltiges Fundament.</p>
      </div>
      <div class="smallContainer">
        <span>Entwicklung <img class="icons" src="assets\img\sections\icons\devDefault.png" alt="devIcon"></span>
        <p>Modern, performant und vollständig intern umgesetzt.</p>
      </div>
      <div class="smallContainer">
        <span>SUPPORT <img class="icons" src="assets\img\sections\icons\supportDefault.png" alt="devIcon">
        </span>
        <p>Zuverlässige Pflege, Sicherheit und Weiterentwicklung.</p>
      </div>
    </div>
  </div>
</section>