section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0em 1em;


  h3 {
    width: 100%;
  }

  .icons {
    width: 35px;
          opacity: 0.5;

  }


  .aboutWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 10px;

    .smallContainerWrapper {
      flex-direction: column;
      height: auto;
      display: flex;
      align-items: center;
      gap: 1em;
      justify-content: space-between;
      flex: 1;

      .smallContainer {
              width: 100%;

        display: flex;
        flex-direction: column;
        gap: 0.5em;
        height: 23%;
        padding: 0.8em;
        background: linear-gradient(to right, #1b1b1b 75%, rgba(25, 104, 183, 0.3294117647) 100%);
        border-bottom: rgb(0, 0, 0) solid 3px;
        border-radius: 10px;

        span {
          display: flex;
          align-items: start;
          justify-content: space-between;
          font-weight: 600;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}