section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  flex-direction: column;
  margin: 1em;
  gap: 1em;

  h3{
    width: 100%;
  }
  .aboutWrapper{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    height: 80vh;
    background-color: rgba(149, 187, 249, 0.403);
    border-radius: 20px;
  }
}