section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  flex-direction: column;
  padding: 1em;
  gap: 1em;

  h3 {
    width: 100%;
  }

  .aboutWrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 80vh;
    border-radius: 20px;


    .smallContainerWrapper {
      flex-direction: column;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;

      .smallContainer {
        display: flex;
        flex-direction: column;
        gap: 1em;
        height: 20%;
        padding: 0.8em;
        background: #1968b7c9;
        border-radius: 10px;

        span {
          font-weight: 600;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}