header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 10px;
  margin: 1em 2em;
  height: auto;
  position: absolute;
  display: flex;
  width: 88%;
  justify-content: space-between;

  .navContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0em 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;

  }
}

nav{
    a {
      font-family: 'Poppins';
      font-weight: 500;
      letter-spacing: 0.5px;
      transition: text-decoration-color 0.3s ease, color 0.3s ease;
      color: black;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -4px;
        width: 0;
        height: 2px;
        background-color: white;
        transform: translateX(-50%);
        transition: width 0.3s ease;
      }

      &:hover {
        color: grey;
        text-decoration-color: white;

        &::after {
          width: 100%;
        }
      }
    }

}
.d_none {
  display: none;
}

.burgerMenu {
  font-size: 2em;
  cursor: pointer;
  user-select: none;
}

.menuActive {
  transition: ease-in-out 1s;
  background-color: white;
  color: black;
  width: 100%;
  height: 20em;
}
