header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 10px;
  padding: 2rem 0rem;
  height: auto;
  position: absolute;
  width: 100%;

  nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0em 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;

    a {
      font-family: 'Poppins';
      font-weight: 500;
      letter-spacing: 0.5px;
      transition: text-decoration-color 0.3s ease, color 0.3s ease;
      color: white;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -4px;
        width: 0;
        height: 2px;
        background-color: white;
        transform: translateX(-50%);
        transition: width 0.3s ease;
      }

      &:hover {
        color: grey;
        text-decoration-color: white;

        &::after {
          width: 100%;
        }
      }
    }
  }
}