<section id="services">
  <h3>Effiziente Lösungen – von der Idee bis zum Ergebnis.</h3>
  <div class="hyphen"></div>
  <h1  id="services">  Services</h1>
  @for (item of servicesList; track $index) {
    <div class="servicesContainer">
      <div class="titleArea">
        <h3>{{item.title}}</h3>
        <img class="icons" [src]="item.iconUrl" alt="">
      </div>
      <h4>{{item.price}} €</h4>
      <p>{{item.description}}</p>
      <div class="buttonContainer">
        <button [routerLink]="['services', item.id]" >Mehr erfahren</button>
      </div>
    </div>
  }
</section>