section {
  font-family: 'Poppins';
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin: 1em;
  gap: 1em;
  margin-bottom: 3em;
}

p {
  font-size: 1.4em;
}

h1 {
  font-size: 1.9em;
}

.servicesContainer {
  padding: 1em;
  height: 225px;
  background: linear-gradient(to left, #1b1b1b 20%, #1968b754 100%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;

  .titleArea{
    display: flex;
    align-items: start;
    justify-content: space-between;

    .icons{
      position: absolute;
      right: 1em;
      width: 50px;
      opacity: 0.5;
    }
  }

  p {
    font-size: 1em;
  }

  .buttonContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;

    button {
      border-radius: none;
      height: 2rem;
      width: 50%;
      border: none;
      color: rgb(255, 255, 255);
      font-family: 'Poppins';
      font-size: 1rem;
      background-color: #1968b7;
      border-radius: 5px;
    }
  }
}