section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 93vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0) 100%),
    url('/assets/img/background1.png') center/cover no-repeat;


  .headlineArea {
    margin: 0em 1em 0em 1em;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 70%;

    h1 {
      color: #F5F6FA;
      font-family: 'Inter';
      text-align: center;
    }

    h3 {
      color: #F5F6FA;
      font-family: 'Inter';
      font-weight: lighter;
    }
  }

  .callToAction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    gap: 1em;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: none;
      height: 2.5em;
      width: 100%;
      border: none;
      color: rgb(255, 255, 255);
      font-family: 'Poppins';
      font-size: 1rem;
      background-color: #1968b7;
      border-radius: 5px;
    }
  }
}