section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgb(0, 0, 0)),
    url('/assets/img/background1.jpg') center/cover no-repeat;

  .headlineArea {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 70%;

    h1 {
      color: #F5F6FA;
      font-family: 'Poppins';
      text-align: center;
    }

    h3 {
            color: #ffffff6a;

      font-family: 'Poppins';
    }
  }

  .callToAction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    gap: 1em;

    button {
      border-radius: none;
      height: 2rem;
      width: 100%;
      border: none;
      color: rgb(255, 255, 255);
      font-family: 'Poppins';
      font-size: 1rem;
      background-color: #1968b7;
      border-radius: 20px;
    }
  }

}