body {
    position: relative;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at top left,
            #1968b784 1%,
            #1b1b1b 40%,
            #1b1b1b 70%,
            #1b1b1b 100%);
    min-height: 100svh;
    backdrop-filter: blur(8px);

    .adminArea {
        padding: 1em;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }

    .fullcardInput {
        padding: 1em;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .projectTitleArea {
            display: flex;
            flex-direction: column;

            h4 {
                font-weight: 200;
            }
        }

        .projectInputArea {
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;

            a {
                font-weight: 200;
                color: rgb(202, 202, 202);
                text-decoration: none;
                word-break: break-all;
            }
        }

        .projectTags {
            justify-content: space-between;
            margin-bottom: 1em;
            display: flex;
            text-align: center;
        }

        .imageArea {
            display: flex;
            align-items: center;

            img {
                object-fit: cover;
                width: 100%;
                height: 250px;
                border-radius: 10px;
            }
        }

        .detailArea {

            .projectCategorie {
                display: flex;
                flex-direction: column;
                margin-bottom: 1em;

                p {
                    font-weight: 400;
                    margin-top: 0.3em;
                }
            }

            span {
                font-weight: 200;
            }
        }
    }

    .hyphen {
        width: 100%;
        height: 2px;
        background: linear-gradient(to left, #1968b7, #1968b71e, #0b0c0f00);
        margin: 1em 0;
    }
}

button {
    color: black;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1968b7;
    color: white;
    padding: 0.3em 0.6em;
    border-radius: 5px;
    font-size: 0.9em;
}

.infoItem{
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        margin-top: 0.3em;
        font-weight: 400;
    }
}