@if (project) {
<section>
    <div class="adminArea">
        <h4>Adminansicht</h4>
        <button type="button" (click)="goBack()">zurück</button>
    </div>
    <div class="fullcardInput">
        <div class="projectTitleArea">
            <h1>{{project.title}}</h1>
            <div class="hyphen"></div>
        </div>
        <div class="projectInputArea">
            <span>Address</span>
            <p>www.task-manager-bb.netlify.app</p>
            <div class="hyphen"></div>
        </div>

        <div class="projectTags">
            <h3>TagArea</h3>
            @for (item of project.techstack; track $index) {
                <div class="div">{{item.name}}</div>
            }
            <div class="hyphen"></div>
        </div>

        <div class="imageArea">
            <p>ImageArea</p>
                <img [src]="'/' +project.imageUrl" alt="">

                <div class="hyphen"></div>
        </div>

        <div class="detailArea">
            <p>Laufzeit etc.</p>
        </div>
    </div>

</section>
}