body {
    position: relative;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at top left,
            #1968b784 1%,
            #1b1b1b 40%,
            #1b1b1b 70%,
            #1b1b1b 100%);
    min-height: 100svh;
    backdrop-filter: blur(8px);

    .adminArea {
        padding: 1em;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }

    .fullcardInput {
        padding: 1em;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .projectTags {
            justify-content: space-between;
            margin-bottom: 1em;
            display: flex;
            text-align: center;

            .tags {
                background-color: #1968b7;
                color: white;
                padding: 0.3em 0.6em;
                border-radius: 5px;
                font-size: 0.9em;
            }
        }

        .imageArea {
            img {
                object-fit: cover;
                width: 100%;
                height: 250px;
                border-radius: 10px;
            }
        }
    }

    .hyphen {
        width: 100%;
        height: 2px;
        background: linear-gradient(to left, #1968b7, #13151a00, #0b0c0f00);
        margin: 1em 0;
    }
}

button {
    color: black;
}

p{
    color: rgb(202, 202, 202);
    font-weight: 200;
}