@if (project) {

<body @fadeInOut>
    <div class="adminArea">
        <h4>Adminansicht</h4>
        <button type="button" (click)="goBack()">zurück</button>
    </div>
    <div class="fullcardInput">
        <div class="projectTitleArea">
            <h1>{{project.title}}</h1>
            <div class="hyphen"></div>
        </div>
        <div class="projectInputArea">
            <p>Address</p>
            <a target="_blank" [href]="project.projectUrl">{{project.projectUrl}}</a>
            <div class="hyphen"></div>
        </div>
        <div class="projectTags">
            @for (item of project.techstack; track $index) {
            <div class="tags">{{item.name}}</div>
            }
        </div>
        <div class="imageArea">
            <img [src]="project.imageUrl" alt="">
        </div>
        <div class="detailArea">
            <p>Laufzeit</p>
        </div>
    </div>
</body>
<app-footer></app-footer>

}