section {
    position: relative;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at top left,
            #1968b754 20%,
            #13151a 40%,
            #0b0c0f 70%,
            #050509 100%);
    min-height: 100svh;
    backdrop-filter: blur(8px);

    .adminArea {
        padding: 1em;
        display: flex;
        justify-content: space-between;
    }

    .fullcardInput {
        padding: 1em;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .projectTags {
            display: flex;
            gap: 1em;
            text-align: center;

            .tags {
                background-color: #1968b7;
                color: white;
                padding: 0.3em 0.6em;
                border-radius: 5px;
                font-size: 0.9em;
            }
        }

        .imageArea {
            img {
                width: 100%;
                height: 250px;
                border-radius: 10px;
            }
        }
    }

    .hyphen {
        width: 100%;
        height: 2px;
        background: linear-gradient(to left, #1968b7, #13151a00, #0b0c0f00);
        margin: 1em 0;
    }
}

button {
    color: black;
}