section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  flex-direction: column;
  gap: 1em;
  padding: 1em;


  .faqWrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 80vh;
    width: 100%;
    background: rgba(25, 104, 183, 0.3294117647);
    border-radius: 20px;

    .faqContainer {
      background: rgba(25, 104, 183, 0.7882352941);
      border-radius: 20px;
      padding: 1em;
      height: 18%;
      margin: 1em;
    }
  }
}