<section>
        <h3>Sie haben Fragen, wir haben Antworten</h3>
    <div class="hyphen"></div>

    <div class="faqWrapper">
    <div class="faqContainer">Wie lange dauert die Umsetzung meiner Website oder App?</div>
    <div class="faqContainer">Welche Technologien verwenden Sie für Ihre Projekte?</div>
    <div class="faqContainer">Bieten Sie Suchmaschinenoptimierung (SEO) an?</div>
    <div class="faqContainer">Wird das Projekt nach der Fertigstellung weiter betreut?</div>

    </div>
</section>