section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  flex-direction: column;
  padding: 1.5em;
  font-size: 10px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(25, 104, 183, 0.3294117647) 50%, rgba(0, 0, 0, 0) 100%);

  .headlineArea {
    width: 100%;
    display: flex;
    align-items: center;

    h3 {
      font-size: 1.8em;
    }

    .icons {
      opacity: 0.5;
      padding-right: 1.5em;
      width: 35px;
      height: 35px;
    }
  }

  .hyphen {
    margin-bottom: 1em;
  }

  .faqWrapper {
    margin-top: 0.3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    border-radius: 20px;

    .faqContainer {
      font-size: 1.4em;
      display: flex;
      align-items: start;
      justify-content: space-between;
      background: rgba(25, 104, 183, 0.7882352941);
      border-radius: 10px;
      padding: 1em;
      height: 10%;
    }
  }
}