@if (service) {
    <body @fadeInOut>
        <div class="fullcardInput">
<button type="button" (click)="goBack()">zurück</button>
            <div class="projectTitleArea">
                <h1>{{service.title}}</h1>
                <h4>Serviceübersicht</h4>
                <div class="hyphen"></div>
            </div>

            <div class="projectInputArea">
                <p>Preis</p>
                <span>{{service.price}}€</span>
            </div>

            <div class="projectTags">
                @for (item of service.technologies; track $index) {
                <div class="tags">{{item}}</div>
                }
            </div>

            <div class="detailArea">
                <!--         <div class="projectCategorie">
                <div class="tags">{{service.category}}</div>
            </div> -->
                <span>{{service.description}}</span>
                <div class="hyphen"></div>
                <div class="projectInfo">
                    <div class="infoItem" [style.object-fit]="'cover'" [style.background-image]="'url(' + service.imageUrls[0] + ')'">
                        <p>Zielgruppe</p>
                        <span>{{service.target}}</span>
                    </div>
                    <div class="infoItem" [style.object-fit]="'cover'" [style.background-image]="'url(' + service.imageUrls[1] + ')'">
                        <p>Dauer</p>
                        <span>{{service.duration}}</span>
                    </div>
                    <div class="infoItem" [style.object-fit]="'cover'" [style.background-image]="'url(' + service.imageUrls[2] + ')'">
                        <p>Support</p>
                        <span>{{service.supportInfo}}</span>
                    </div>
                    <div class="infoItem" [style.object-fit]="'cover'" [style.background-image]="'url(' + service.imageUrls[0] + ')'">
                        <p>Features</p>
                        <span>{{service.features.join(', ')}}</span>
                    </div>
                </div>
            </div>
        </div>
    </body> 
 <app-footer></app-footer> 
}