footer {
    padding-top: 2em;
    position: relative;
    background-color: #1968b754;
    color: #fff;
    text-align: center;
    width: 100%;

    .infoContainer {
        display: flex;
        align-items: start;
        flex-direction: column;
        margin-left: 2em;
        margin-bottom: 2em;
    }

    .companyContainer {
        display: flex;
        align-items: start;
        flex-direction: column;
        margin-left: 2em;
        margin-bottom: 2em;
    }
}


.socialMediaArea {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: space-around;

    .socialsContainer {
        margin: 2em 0em 2em 0em;
        display: flex;
        justify-content: space-around;
    }
}

.icons {
    height: 40px;
}

nav {
    gap: 0.3em;
    margin-left: 2em;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    position: relative;
    z-index: 1;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35px;
    opacity: 0.2;
    z-index: 0;
}