<footer>
    <div class="companyContainer">
        <span> Bostech Solutions
        </span>
        <span> Obere Marktgasse 9c
        </span>
        <span> 99999 Nimmerland
        </span>
    </div>
    <div class="infoContainer">
        <a href="">Tel +49 (0)175 5468721</a>
        <a href="">Fax +49 (0)175 5468721</a>
        <a href="mailto:info&#64;bos-solutions.com">Mail info&#64;bos-solutions.com</a>
        <a href="">Web www.bostech-solutions.com</a>
    </div>
    <div class="footer-content">
        <nav>
            <a href="/privacy">Datenschutzerklärung</a>
            <a href="/terms">AGBs</a>
            <a href="/impressum">Impressum</a>
            <a href="/contact">Kontakt</a>
        </nav>
        <div class="socialMediaArea">
            <div class="socialsContainer">
                <img class="icons" src="assets/img/sections/icons/instagramDefault.png" alt="">
                <img class="icons" src="assets/img/sections/icons/xDefault.png" alt="">
                <img class="icons" src="assets/img/sections/icons/linkedinDefault.png" alt="">
                <img class="icons" src="assets/img/sections/icons/githubDefault.png" alt="">
                <img class="icons" src="assets/img/sections/icons/fiverrDefault.png" alt="">
            </div>
        </div>
    </div>
    <img src="assets/img/Logo.png" class="logo" alt="logo">
</footer>