footer {
    position: relative;
    display: flex;
    background-color: #1968b754;
    color: #fff;
    text-align: center;
    padding: 1em;
}

footer nav {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    position: relative;
    z-index: 1; /* Nav liegt über dem Logo */
}

footer .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35px;
    opacity: 0.2; /* leicht transparent für Hintergrundakzent */
    z-index: 0;
}
